{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Statistics</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
			{% set allwords=[] %}
			{% for post in posts %}
				{% set _tmp = (post.body|striptags|length)|int %}
				{# 用数组来统计 #}
				{% set _ = allwords.append(_tmp) %}
			{% endfor %}
            <h4>All Words: {{ allwords|sum }}</h4>
            <h4>All View Count: {{ all_view_count }} times</h4>
            
            {# 下面是admin可见部分 #}
            {% if current_user.is_authenticated %}
				<hr/>
				{# 分类别统计字数 #}
				{% set categories_count = {} %}{# 字典 #}
				{% for post in posts %}
					{% set _tmp = (post.body|striptags|length)|int %}
					{% set _category = post.category.name %}
					{% if _category in categories_count %}
						{% set _ = categories_count.update({_category:categories_count[_category]+_tmp})%}
					{% else %}
						{% set _ = categories_count.update({_category:_tmp}) %}
					{% endif %}
				{% endfor %}
				{# 统计完毕 #}
				{% for category in categories_count %}
					<h5>{{category}}: {{ categories_count[category] }}</h5>
				{% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
